<a href="https://colab.research.google.com/github/Dev-Atom42/MachineLearning-Calobaratory/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 3

##Обработка пропущенных значений

Обработайте пропущенные значения:


* Удалите пропущенные значения
* Заполните при помощи медианы, среднего для числовых значений
* Заполните при помощи моды для категориальных значений
* Интерполируйте
Выведите статистку после каждого метода и объясните

In [1]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.2.0)

In [25]:
import pandas as pd

df = pd.read_csv('/content/Classification Dataset/ca_offenses_by_county.csv')
df

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Rape(legacy definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510,6.0,13.0,NaN,177,314,"2,077",463,985,629,11.0
1,Metropolitan Counties,Butte3,155,4.0,20.0,NaN,14,117,"1,422",708,693,21,0.0
2,Metropolitan Counties,Contra Costa,426,14.0,24.0,NaN,153,235,"2,013",660,"1,332",21,18.0
3,Metropolitan Counties,El Dorado3,252,9.0,46.0,NaN,32,165,"2,031",577,"1,412",42,4.0
4,Metropolitan Counties,Fresno,962,8.0,32.0,NaN,112,810,"3,810","1,398","1,838",574,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2592 entries, 0 to 2591
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Metropolitan/Nonmetropolitan          57 non-null     object
 1   County                                57 non-null     object
 2   Violent crime                         57 non-null     object
 3   Murder and nonnegligent manslaughter  57 non-null     float64
 4   Rape (revised definition)             57 non-null     float64
 5   Rape(legacy definition)               0 non-null      float64
 6   Robbery                               57 non-null     object
 7   Aggravated assault                    57 non-null     object
 8   Property crime                        57 non-null     object
 9   Burglary                              57 non-null     object
 10  Larceny-theft                         57 non-null     object
 11  Motor vehicle theft                   57 non-null     object
 12  Arson                                 57 non-null     float64
dtypes: float64(4), object(9)
memory usage: 263.4+ KB

In [44]:
#Удаление
df_clean = df.copy()
df_clean = df_clean.dropna(how='all')
df_clean = df_clean.dropna(subset=[5], axis=1) #6-й столбец не удалился, видимо полностью состоит из Not-a-Number
df_clean

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510,6.0,13.0,177,314,"2,077",463,985,629,11.0
1,Metropolitan Counties,Butte3,155,4.0,20.0,14,117,"1,422",708,693,21,0.0
2,Metropolitan Counties,Contra Costa,426,14.0,24.0,153,235,"2,013",660,"1,332",21,18.0
3,Metropolitan Counties,El Dorado3,252,9.0,46.0,32,165,"2,031",577,"1,412",42,4.0
4,Metropolitan Counties,Fresno,962,8.0,32.0,112,810,"3,810","1,398","1,838",574,145.0
5,Metropolitan Counties,Imperial3,219,0.0,6.0,7,206,625,202,395,28,21.0
6,Metropolitan Counties,Kern,"2,235",31.0,157.0,360,"1,687","9,903","3,243","4,777","1,883",300.0
7,Metropolitan Counties,Kings3,122,2.0,16.0,9,95,470,193,265,12,5.0
8,Metropolitan Counties,Los Angeles,"5,173",98.0,304.0,"1,212","3,559","16,301","3,739","8,359","4,203",215.0
9,Metropolitan Counties,Madera,334,1.0,18.0,26,289,"1,252",556,686,10,4.0
10,Metropolitan Counties,Marin,95,3.0,5.0,20,67,746,189,554,3,4.0
11,Metropolitan Counties,Merced,432,10.0,20.0,30,372,"1,605",596,955,54,10.0
12,Metropolitan Counties,Monterey,244,5.0,31.0,48,160,"1,246",347,872,27,12.0
13,Metropolitan Counties,Napa,79,1.0,13.0,3,62,278,107,170,1,0.0
14,Metropolitan Counties,Orange,213,2.0,12.0,28,171,"1,265",244,879,142,11.0
15,Metropolitan Counties,Placer,299,4.0,20.0,36,239,"1,659",454,"1,163",42,4.0
16,Metropolitan Counties,Riverside,885,12.0,38.0,172,663,"7,680","1,880","4,321","1,479",18.0
17,Metropolitan Counties,Sacramento,"3,117",37.0,155.0,"1,026","1,899","11,164","3,690","7,348",126,31.0
18,Metropolitan Counties,San Benito,41,1.0,4.0,4,32,173,57,106,10,0.0
19,Metropolitan Counties,San Bernardino,920,18.0,91.0,141,670,"5,527","1,719","2,583","1,225",62.0
20,Metropolitan Counties,San Diego,"1,161",10.0,110.0,161,880,"4,784","1,153","2,843",788,41.0
21,Metropolitan Counties,San Joaquin,845,5.0,18.0,161,661,"3,564","1,039","2,381",144,30.0
22,Metropolitan Counties,San Luis Obispo3,324,3.0,17.0,15,289,"1,347",461,873,13,3.0
23,Metropolitan Counties,San Mateo,330,3.0,53.0,90,184,"2,796",467,"1,953",376,15.0
24,Metropolitan Counties,Santa Barbara,266,2.0,29.0,32,203,"1,676",511,"1,152",13,12.0
25,Metropolitan Counties,Santa Clara,232,4.0,36.0,24,168,"1,358",261,899,198,3.0
26,Metropolitan Counties,Santa Cruz,295,0.0,25.0,40,230,"1,935",604,"1,323",8,15.0
27,Metropolitan Counties,Shasta,697,3.0,69.0,26,599,958,423,489,46,23.0
28,Metropolitan Counties,Solano,101,3.0,7.0,14,77,404,186,176,42,9.0
29,Metropolitan Counties,Sonoma,638,5.0,73.0,58,502,"1,468",517,937,14,19.0
30,Metropolitan Counties,Stanislaus,394,11.0,35.0,122,226,"2,123",884,"1,188",51,14.0
31,Metropolitan Counties,Sutter3,104,1.0,9.0,10,84,562,185,332,45,4.0
32,Metropolitan Counties,Tulare4,383,23.0,29.0,64,267,"2,075",750,"1,325",0,0.0
33,Metropolitan Counties,Ventura,169,3.0,32.0,16,118,849,236,530,83,15.0
34,Metropolitan Counties,Yolo,87,1.0,13.0,5,68,309,109,185,15,6.0
35,Metropolitan Counties,Yuba,227,3.0,19.0,40,165,"1,223",417,799,7,11.0
36,Nonmetropolitan Counties,Alpine3,9,0.0,0.0,0,9,35,15,19,1,0.0
37,Nonmetropolitan Counties,Amador3,50,1.0,2.0,5,42,340,130,205,5,1.0
38,Nonmetropolitan Counties,Calaveras3,111,6.0,24.0,8,73,656,251,386,19,0.0
39,Nonmetropolitan Counties,Colusa3,33,0.0,2.0,0,31,166,49,116,1,0.0
40,Nonmetropolitan Counties,Del Norte3,101,1.0,21.0,13,66,380,194,182,4,13.0
41,Nonmetropolitan Counties,Glenn3,44,1.0,2.0,3,38,165,74,89,2,2.0
42,Nonmetropolitan Counties,Humboldt3,265,7.0,18.0,45,195,760,371,358,31,12.0
43,Nonmetropolitan Counties,Inyo3,58,0.0,7.0,7,44,107,41,65,1,0.0
44,Nonmetropolitan Counties,Lake3,200,3.0,16.0,17,164,837,380,452,5,13.0
45,Nonmetropolitan Counties,Lassen3,47,0.0,3.0,3,41,200,78,122,0,3.0
46,Nonmetropolitan Counties,Mariposa,89,0.0,8.0,1,80,268,77,189,2,0.0
47,Nonmetropolitan Counties,Mendocino,324,5.0,56.0,20,243,451,215,230,6,10.0
48,Nonmetropolitan Counties,Modoc3,34,0.0,1.0,0,33,54,18,36,0,0.0
49,Nonmetropolitan Counties,Mono3,14,0.0,1.0,2,11,42,16,25,1,0.0
50,Nonmetropolitan Counties,Nevada,139,0.0,10.0,8,121,716,380,321,15,5.0
51,Nonmetropolitan Counties,Plumas3,82,1.0,12.0,4,65,271,111,156,4,0.0
52,Nonmetropolitan Counties,Sierra,3,0.0,0.0,0,3,31,5,23,3,0.0
53,Nonmetropolitan Counties,Siskiyou,39,2.0,4.0,6,27,158,70,79,9,0.0
54,Nonmetropolitan Counties,Tehama,167,3.0,5.0,1,158,249,173,75,1,14.0
55,Nonmetropolitan Counties,Trinity,34,1.0,6.0,5,22,187,94,90,3,0.0
56,Nonmetropolitan Counties,Tuolumne3,185,0.0,49.0,22,114,749,413,330,6,2.0

In [45]:
import numpy as np
#Заполнение при помощи медианы
df_new = df.copy()
df_new = df_new.dropna(subset=[5], axis=1) #одни? наны

columns = ['Violent crime', 'Murder and nonnegligent manslaughter', 'Rape (revised definition)', 'Robbery', 'Aggravated assault', 'Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft', 'Arson']

for column_name in columns:
  df_new[column_name] = df_new[column_name].astype(str).str.replace('[^0-9.]', '', regex=True).replace('', np.nan).astype(float)
  df_new[column_name].fillna(df_new[column_name].median(), inplace=True) #медиана

df_new

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510.0,6.0,13.0,177.0,314.0,2077.0,463.0,985.0,629.0,11.0
1,Metropolitan Counties,Butte3,155.0,4.0,20.0,14.0,117.0,1422.0,708.0,693.0,21.0,0.0
2,Metropolitan Counties,Contra Costa,426.0,14.0,24.0,153.0,235.0,2013.0,660.0,1332.0,21.0,18.0
3,Metropolitan Counties,El Dorado3,252.0,9.0,46.0,32.0,165.0,2031.0,577.0,1412.0,42.0,4.0
4,Metropolitan Counties,Fresno,962.0,8.0,32.0,112.0,810.0,3810.0,1398.0,1838.0,574.0,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2587,NaN,NaN,213.0,3.0,18.0,20.0,164.0,837.0,347.0,489.0,14.0,6.0
2588,NaN,NaN,213.0,3.0,18.0,20.0,164.0,837.0,347.0,489.0,14.0,6.0
2589,NaN,NaN,213.0,3.0,18.0,20.0,164.0,837.0,347.0,489.0,14.0,6.0
2590,NaN,NaN,213.0,3.0,18.0,20.0,164.0,837.0,347.0,489.0,14.0,6.0
2591,NaN,NaN,213.0,3.0,18.0,20.0,164.0,837.0,347.0,489.0,14.0,6.0

In [46]:
#Заполнение при помощи среднего
df_new1 = df.copy()
df_new1 = df_new1.dropna(subset=[5], axis=1)

columns = ['Violent crime', 'Murder and nonnegligent manslaughter', 'Rape (revised definition)', 'Robbery', 'Aggravated assault', 'Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft', 'Arson']

for column_name in columns:
  df_new1[column_name] = df_new1[column_name].astype(str).str.replace('[^0-9.]', '', regex=True).replace('', np.nan).astype(float)
  df_new1[column_name].fillna(df_new1[column_name].mean(), inplace=True) #среднее

df_new1

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510.000000,6.000000,13.000000,177.000000,314.00000,2077.000000,463.000000,985.000000,629.000000,11.000000
1,Metropolitan Counties,Butte3,155.000000,4.000000,20.000000,14.000000,117.00000,1422.000000,708.000000,693.000000,21.000000,0.000000
2,Metropolitan Counties,Contra Costa,426.000000,14.000000,24.000000,153.000000,235.00000,2013.000000,660.000000,1332.000000,21.000000,18.000000
3,Metropolitan Counties,El Dorado3,252.000000,9.000000,46.000000,32.000000,165.00000,2031.000000,577.000000,1412.000000,42.000000,4.000000
4,Metropolitan Counties,Fresno,962.000000,8.000000,32.000000,112.000000,810.00000,3810.000000,1398.000000,1838.000000,574.000000,145.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2587,NaN,NaN,438.491228,6.614035,32.385965,81.719298,317.77193,1850.877193,568.070175,1063.614035,219.192982,20.526316
2588,NaN,NaN,438.491228,6.614035,32.385965,81.719298,317.77193,1850.877193,568.070175,1063.614035,219.192982,20.526316
2589,NaN,NaN,438.491228,6.614035,32.385965,81.719298,317.77193,1850.877193,568.070175,1063.614035,219.192982,20.526316
2590,NaN,NaN,438.491228,6.614035,32.385965,81.719298,317.77193,1850.877193,568.070175,1063.614035,219.192982,20.526316
2591,NaN,NaN,438.491228,6.614035,32.385965,81.719298,317.77193,1850.877193,568.070175,1063.614035,219.192982,20.526316

In [47]:
#Заполнение при помощи моды
df_new2 = df.copy()
df_new2 = df_new2.dropna(subset=[5], axis=1)

columns = ['Violent crime', 'Murder and nonnegligent manslaughter', 'Rape (revised definition)', 'Robbery', 'Aggravated assault', 'Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft', 'Arson']

for column_name in columns:
  df_new2[column_name] = df_new2[column_name].astype(str).str.replace('[^0-9.]', '', regex=True).replace('', np.nan).astype(float)
  df_new2[column_name].fillna(df_new2[column_name].mode()[0], inplace=True) #мода вместо значений 0

df_new2

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510.0,6.0,13.0,177.0,314.0,2077.0,463.0,985.0,629.0,11.0
1,Metropolitan Counties,Butte3,155.0,4.0,20.0,14.0,117.0,1422.0,708.0,693.0,21.0,0.0
2,Metropolitan Counties,Contra Costa,426.0,14.0,24.0,153.0,235.0,2013.0,660.0,1332.0,21.0,18.0
3,Metropolitan Counties,El Dorado3,252.0,9.0,46.0,32.0,165.0,2031.0,577.0,1412.0,42.0,4.0
4,Metropolitan Counties,Fresno,962.0,8.0,32.0,112.0,810.0,3810.0,1398.0,1838.0,574.0,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2587,NaN,NaN,34.0,0.0,2.0,0.0,165.0,31.0,380.0,19.0,1.0,0.0
2588,NaN,NaN,34.0,0.0,2.0,0.0,165.0,31.0,380.0,19.0,1.0,0.0
2589,NaN,NaN,34.0,0.0,2.0,0.0,165.0,31.0,380.0,19.0,1.0,0.0
2590,NaN,NaN,34.0,0.0,2.0,0.0,165.0,31.0,380.0,19.0,1.0,0.0
2591,NaN,NaN,34.0,0.0,2.0,0.0,165.0,31.0,380.0,19.0,1.0,0.0

In [49]:
#Заполнение при помощи интерполяции
df_new2 = df.copy()
df_new2 = df_new2.dropna(subset=[5], axis=1)

columns = ['Violent crime', 'Murder and nonnegligent manslaughter', 'Rape (revised definition)', 'Robbery', 'Aggravated assault', 'Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft', 'Arson']

for column_name in columns:
  df_new2[column_name] = df_new2[column_name].astype(str).str.replace('[^0-9.]', '', regex=True).replace('', np.nan).astype(float)
  df_new2[column_name].fillna(df_new2[column_name].interpolate(), inplace=True) #интерполяция

df_new2

,Metropolitan/Nonmetropolitan,County,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Metropolitan Counties,Alameda,510.0,6.0,13.0,177.0,314.0,2077.0,463.0,985.0,629.0,11.0
1,Metropolitan Counties,Butte3,155.0,4.0,20.0,14.0,117.0,1422.0,708.0,693.0,21.0,0.0
2,Metropolitan Counties,Contra Costa,426.0,14.0,24.0,153.0,235.0,2013.0,660.0,1332.0,21.0,18.0
3,Metropolitan Counties,El Dorado3,252.0,9.0,46.0,32.0,165.0,2031.0,577.0,1412.0,42.0,4.0
4,Metropolitan Counties,Fresno,962.0,8.0,32.0,112.0,810.0,3810.0,1398.0,1838.0,574.0,145.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2587,NaN,NaN,185.0,0.0,49.0,22.0,114.0,749.0,413.0,330.0,6.0,2.0
2588,NaN,NaN,185.0,0.0,49.0,22.0,114.0,749.0,413.0,330.0,6.0,2.0
2589,NaN,NaN,185.0,0.0,49.0,22.0,114.0,749.0,413.0,330.0,6.0,2.0
2590,NaN,NaN,185.0,0.0,49.0,22.0,114.0,749.0,413.0,330.0,6.0,2.0
2591,NaN,NaN,185.0,0.0,49.0,22.0,114.0,749.0,413.0,330.0,6.0,2.0

##Поиск выбросов и аномалий

**Те, кто выполняет задания со * делают поиск выбросов с помощью написанного ранее класса**

Найти выбросы по числовой переменной (использовать метод основанный на среднем и на межквартильном размахе). Объясните результат

Вывести статистику с выбросами и без. Сравните и объясните результат

In [ ]:
#Методом среднего

In [ ]:
#При помощи межквартильного размаха

In [ ]:
#Статистика и объяснение

**Объяснения**

##Дубликаты

Проверьте датафрейм на дубликаты и удалите их, если дублей нет - создайте.

In [ ]:
#Проверка на дубли

In [ ]:
#Удаление дублей

## Преобразование признаков

Масштабируйте числовые признаки через MinMaxScaler, StandardScaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Creating instances
min_max_scaler = MinMaxScaler()
standard_scaler = StandardScaler()

Масштабируйте категориальные признаки через OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# Create an instance of OneHotEncoder
encoder = OneHotEncoder()

##Задание для гениев*


Реализовать расчет корреляции Спирмана

In [ ]:
#Функция по расчету тут

In [ ]:
#Пример использования тут и объяснение принципа работы

###Пример реализации

In [ ]:
import pandas as pd
import numpy as np


def corr_pearson(column_1, column_2):
  cov = np.cov(column_1, column_2)
  return cov/(column_1.std() * column_2.std())

In [ ]:
data = {
    'Рост': [170, 155, 180, 162, 175],
    'Вес': [65, 50, 75, 55, 70]
}
df = pd.DataFrame(data)
df

   Рост  Вес
0   170   65
1   155   50
2   180   75
3   162   55
4   175   70

In [ ]:
corr_pearson(df["Рост"], df["Вес"])

array([[0.96593129, 0.99674864],
       [0.99674864, 1.03527033]])